#contact_modal {
  display: none;
}

/*PHOTOGRAPHER PAGE HEADER*/
.photograph-header {
  background-color: #fafafa;
  margin: 100px;
}

.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5vh;
  flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 800px) {
  .photographer-card {
    flex-direction: column;
  }

  .photographer-card-text {
    text-align: center;
  }
}

.photographer-card:nth-child(2) {
  order: 2;
}

.photographer-card-text h2 {
  color: #bf5138;
}
.photographer-card-text h3 {
  color: #901c1c;
}

.photographer-card-text p {
  font-weight: 100;
}
/*CONTACT BUTTON*/
.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*MODAL CONTACT FORM*/
.bground {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;

  /* z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

/*.modal-overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-overlay[aria-hidden="true"],
.modal[aria-hidden="true"] {
  display: none;
}

.modal-overlay:not([aria-hidden="true"]),
.modal:not([aria-hidden="true"]) {
  display: block;
}*/

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
/*ORDER BY STYLING*/
.select {
  margin-left: 100px;
}
.select select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
  border-bottom: 1px solid white;
}

#orderBy {
  display: inline;
  font-size: 20px;
  color: white;
  width: 170px;
  height: 50px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

/*GALLERY*/
#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 100px;
  gap: 50px;
}
.image-container {
  height: 13rem;
  width: 13rem;
  padding: 2%;
}

.image-container img {
  height: 13rem;
  width: 13rem;
  object-fit: cover;
}

.image-container video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.image-text {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #901c1c;
  font-weight: 100;
}

.image-title {
  flex: 1;
  align-self: flex-start;
}

.image-text span {
  color: #901c1c;
  font-size: 1.2rem;
  font-weight: 100;
  padding-right: 10px;
}

.image-text i {
  color: #901c1c;
}

/*Photographer rating and price box on bottom of the page*/
.photographer-rate {
  background-color: #db8876;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  position: fixed;
  right: 2vw;
  width: 15rem;
  padding: 5px;
}

.photographer-rate-price {
  flex: 1;
  padding-left: 50px;
}

/*LIGHTBOX*/
.gallery-lightbox {
  display: none;
}

.lightbox-media-item {
  width: 15rem;
  height: 15rem;
}
.probna {
  display: flex;
  align-items: center;
  width: 100px;
}
.probna-slika {
  width: 50;
  height: 50rem;
}
