@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

@media (max-width: 750px) {
  header {
    flex-direction: column;
  }

  header h1 {
    margin-right: 0;
  }

  header .logo {
    margin: 0;
    margin-top: 20px;
  }
}

h1 {
  color: #901c1c;
  font-weight: 100;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

a {
  text-decoration: none;
}

/*Photographer section styling and breakpoints*/

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 100px;
}

@media (max-width: 1200px) {
  .photographer_section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .photographer_section {
    grid-template-columns: repeat(1, 1fr);
  }
}

/*Photographer Card styling*/

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 2rem;
  font-weight: 100;
  margin: 1.5vh auto;
}

@media (min-width: 700px) and (max-width: 800px) {
  .photographer_section article h2 {
    font-size: 1.5rem;
  }
}

.photographer_section article h3 {
  color: #901c1c;
  font-size: 2.25 rem;
  font-weight: 100;
  margin: 1.5vh auto;
}

.photographer_section p {
  margin: auto;
}

.photographer_section span {
  color: #bab7b7;
  font-size: 1rem;
  font-weight: 100;
}
